:root{
  --bg: #15191e;
  --layer1: rgba(255,255,255,0.05);
  /* --layer1: #1d1f21; */
  /* --layer1: #1c3554; */
}

.surface {
  background-color: var(--bg);
}

.card {
  background-color: var(--layer1);
}

header {
  background-color: var(--layer1);
}

.bg-green-accent {
  background-color: var(--color-green-400);
}
.bg-red-accent {
  background-color: var(--color-red-400);
}
.bg-yellow-accent {
  background-color: var(--color-yellow-400);
}
